#text-block {
  width: 80%;
}

body.reading #btn-leer {
  outline: 3px solid #ffd9ba;
  outline-offset: -3px;
}
body.mode-travestir #btn-travestir {
  outline: 3px solid #ffd9ba;
  outline-offset: -3px;
}
body.mode-fracasar #btn-fracasar {
  outline: 3px solid #ffd9ba;
  outline-offset: -3px;
}
body.mode-ilegibilidad #btn-ilegibilidad {
  outline: 3px solid #fd5e96;
  outline-offset: -3px;
}
